:host(.card-hover) {
  	transition: border-radius 1s, border-color .175s;
}

:host(.card-hover:hover) {
	border-radius: 1.5em !important;
	border-color: rgb(0, 95, 141) !important;
}

:host(.card-hover) {
  position: relative;
}

:host(.card-hover) > ::slotted(iron-icon) {
  position: absolute;
  bottom: 1px;
  left: 1px;
  margin: 0;
  height: 18px;
  padding: 7px 4px 6px 5px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-right-radius: 5px;
  opacity: 0;
  transition: opacity .175s;
}

:host(.card-hover:hover) > ::slotted(iron-icon) {
  opacity: 1;
}